@charset "utf-8";

/* 配色は次を参考 https://nipponcolors.com/ */

body {
  margin: 0;
  padding: 0;
  background-image: url(img/background.jpg);
  color: #1C1C1C; /* 墨 */
  font-family: 'Noto Sans JP';
  font-size: 16px;
  line-height: 1.8;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

img {
  vertical-align: bottom;
}

ul {
  margin: 0;
  padding: 0;
}

header {
  width: 1080px;
  height: 120px;
  margin: 0 auto;
}

#wrap {
  clear: both;
}

.contents {
  width: 1080px;
  height: auto;
  margin: 0 auto;
}

.navigation {
  list-style: none;
}

.navigation li {
  float: left;
  margin: 0 20px;
  font-size: 30px;
}

a {
  color: #554236; /* 黒鳶 */
}

.btn a {
  font-size: 24px;
  font-family: 'Kaisei Opti';
  color: #554236; /* 黒鳶 */
  background-color: #FBE251; /* 黄蘗 */
  text-decoration: none;  
  width: 160px;
  display: block;
  line-height: 50px;
  text-align: center;
  margin: 20px 0;
  border-radius: 5px;
  border: 3px solid #FBE251;
}

.btn a:hover {
  text-decoration: none;
  background-color: #554236; /* 黒鳶 */
  color: #FBE251; /* 黄蘗 */
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.name a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
  color: #005CAF; /* 瑠璃 */
  padding-left: 18px;
  border-left: 15px solid #005CAF;
  border-bottom: 1px solid #005CAF; 
}

h2 {
  font-size: 18px;
  color: #005CAF; /* 瑠璃 */
  margin-left: 18pt;
  padding-left: 18px;
  border-left: 8px solid #005CAF;
}

.section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  color: #1C1C1C;
  padding: 20px 0;
}

footer small {
  font-size: 12px;
}

#index .name {
  margin-top: 20px;
  font-size: 48px;
  text-align: center;
  text-decoration: none;
  font-family: 'Kaisei Decol';
}

.language {
  float: right;
}

.introduction {
  float: left;
  width: 420px;
  margin: 20px 20px;
}

.plan {
  margin-top: 20px;
}

.plan_item .date {
  font-weight: bold;
}

.plan_item .content {
  margin-left: 30px;
}

.future li {
  list-style: none;
  margin-left: 0px;
}

#index .photo {
  float: left;
  margin: 20pt;
  width: 530px;
}

#index .pages_button {
  padding: 0px 120px;
}

#index .pages_button_en {
  padding: 0px 230px;
}

#papers .name {
  margin: 26px 65px;
  font-size: 24px;
  font-family: 'Kaisei Decol';
  float: left;
}

#papers .navigation {
  float: right;
}

#papers .navigation li {
  font-size: 24px;
  margin: 0 10px;
}

#papers .navigation li:last-child {
  margin-right: 0;
}

#papers .btn a {
  font-size: 22px;
  width: 150px;
  line-height: 50px;
}

#papers .hamburger {
  display: none;
}


#papers .unorder_list {
  margin-left: 18px;
  list-style: none;
}

.NF {
  color: #1C1C1C; /* 墨 */
  font-size: 24px;
  text-align: center;
}




@media screen and (max-width:600px) {
body {
  font-size: 3.5vw;
}

h1 {
  font-size: 7vw;
}

h2 {
  font-size: 6vw;
  margin: 2vw 5%;
}

#wrap {
  width: 90%;
  padding: 0 5%;
}

header {
  width: 100%;
}

#index .name {
  font-size: 8vw;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.language{
  float: right;
  margin-right: 20px;
}

.contents {
  width: 100%;
  padding-top: 1px;
}

.btn a {
  font-size: 5vw;
  width: 35vw;
  line-height: 10vw;
  text-align: center;
  margin: 20px 0;
  border-radius: 5px;
  border: 3px solid #FBE251;
}

#index .pages_button {
  margin: 0;
  padding: 0;
}

#index .pages_button_en {
  margin: 0;
  padding: 0;
}

#index .navigation {
  text-align: center;
}

#index .navigation li {
  display: inline;
  padding: 0px;
  margin: 0px 4vw;
  font-size: 0px;
}

.introduction {
  float: none;
  width: 90%;
  margin: 5vw;
}

img {
  max-width: 100%;
}

#index .photo {
  float: none;
  max-width: 90%;
  margin: 0px 5%;
}

#papers header {
  height: auto;
}

#papers .name {
  width: 80%;
  padding-left: 8vw;
  margin: 2vw 0;
  font-size: 6vw;
  text-align: left;
}

#papers nav{ 
  display: none;
}

#papers .hamburger{
  display: block;
}

:root {
  --background-navbar: rgba(85, 66, 54, 0.95); /* 黒鳶 */
}

.menu {
  list-style: none;
  text-align: center;
  font-family: 'Kaisei Opti';
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  margin-top: 15vw;
  padding: 0 0 1vw 0;
  clear: both;
  background: var(--background-navbar);
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
  transform: scale(1, 0);
  transform-origin: top;
}

.menu-btn:checked ~ .menu {
  transform: scale(1, 1);
  transform-origin: top;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.menu a {
  text-decoration: none;
  letter-spacing: 0.5vw;
  font-size: 4vw;
  color: #FBE251;
  transition: 0.5s;
}

.menu li {
  border-top: 1px solid #FBE251;
  padding: 3vw 0;
  margin: 0 10%;
  opacity: 0;
  transition: 0.5s;
}

.menu li:first-child {
  border-top: 0;
}

.menu-btn:checked ~ .menu a,
.menu-btn:checked ~ .menu li {
  opacity: 1;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.2s;
}

.menu-btn {
  display: none;
}

.menu-icon {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 7.2vw 2vw 0 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navicon {
  background: #554236;
  display: block;
  height: 0.8vw;
  width: 6vw;
  position: relative;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before,
.navicon:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background: #554236;
  transition: 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navicon:before {
  top: 2vw;
}

.navicon:after {
  bottom: 2vw;
}

.menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before {
  top: 0;
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  bottom: 0;
}

.menu-btn:checked ~ .menu-icon .navicon {
  background: rgba(0, 0, 0, 0);
  transition: 0.2192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.navtext {
  position: absolute;
  text-transform: uppercase;
  color: #ddd;
  letter-spacing: 4px;
  font-size: 20px;
}
}
